img {
    max-width: 100%;
    max-height: auto;
}

#logo {
    width: 100%;
    height: auto;
}

#name {
    font-size: 100%;
}

/* Drop down Menu */
.dropdown {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 500px;
}

.dropbtn {
    background-color:rgb(190, 190, 190);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 30px;
}

.dropdown:hover .dropdown-content {display: block;}
/* End of Drop down Menu */

/* Grid View */
* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
/* End of Grid View */